@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .header {
        .contacts {
            display: none;
        }
    }
    .promo {
        padding-bottom: 75px;
    }
    .promo__item {
        width: 240px;
    }
    .promo__item-text {
        font-size: 14px;
    }
    .works {
        &__subtitle {
            font-size: 20px;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: 35px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .section__block-descr {
        font-size: 18px;
    }
    .delivery__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .delivery__item {
        flex-basis: 34%;
        margin-bottom: 45px;
        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }
    }
    .delivery__form-button {
        left: 38%;
    }
    .scheme {
        &__item {
            flex-basis: 23%;
        }
        &__item-descr {
            font-size: 12px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__wrapper {
            justify-content: space-between;
        }
        .contacts {
            display: block;
        }
        &__menu {
            display: none;
        }
    }
    .promo {
        padding-bottom: 70px;
        &__title {
            font-size: 57px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__ellipse::before,
        &__ellipse::after {
            width: 340px;
        }
        &__items {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            width: 260px;
            margin-bottom: 30px;
        }
    }
    .features {
        &__item-title {
            font-size: 14px;
        }
        &__item-descr {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .section__block-descr {
        font-size: 16px;
    }
    .delivery__item {
        flex-basis: 40%;
    }
    .delivery__item-title {
        font-size: 13px;
    }
    .delivery__form-button {
        left: 34%;
    }
    .delivery__input {
        width: 228px;
    }
    .scheme__item {
        flex-basis: 50%;
        &:last-child {
            margin-top: 35px;
        }
    }
    .reviews__subtitle {
        font-size: 19px;
    }
    .slick-next {
        right: 37%;
    }
    .slick-prev {
        left: 37%;
    }
    .questions {
        &__block {
            width: 720px;
        }
        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__input {
            width: 650px;
            margin-bottom: 20px;
        }
        &__form-textarea {
            width: 650px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        padding-bottom: 65px;
        &__wrapper {
            margin-top: 40px;
        }
        &__descr {
            font-size: 20px;
        }
        &__title {
            font-size: 42px;
        }
        &__subtitle {
            font-size: 26px;
        }
        &__ellipse::before,
        &__ellipse::after {
            width: 250px;
        }
    }
    .features {
        padding: 50px 0 45px 0;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__items {
            margin-left: 0;
            &:first-child {
                margin-bottom: 40px;
            }
        }
    }
    .title {
        font-size: 22px;
    }
    .works {
        padding: 45px 0 51px 0;
        &__subtitle {
            font-size: 16px;
        }
    }
    .section__block-descr {
        font-size: 15px;
    }
    .delivery {
        padding: 45px 0 69px 0;
        &__item {
            flex-basis: 60%;
            &:nth-child(3) {
                margin-bottom: 45px;
            }
        }
        &__subtitle {
            font-size: 18px;
        }
        &__form {
            flex-direction: column;
            min-height: 250px;
        }
        &__form-images {
            top: -32%;
        }
        &__input {
            margin-top: 10px;
        }
        &__form-button {
            left: 30%;
            bottom: -10%;
        }
    }
    .reviews {
        padding: 45px 0 58px 0;
        &__subtitle {
            font-size: 14px;
        }
    }
    .slick-next {
        right: 33%;
    }

    .slick-prev {
        left: 33%;
    }
    .questions {
        padding: 47px 0 65px 0;
        &__block {
           width: 540px; 
        }
        &__input {
            width: 500px;
        }
        &__form-textarea {
            width: 500px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        .contacts {
            display: none;
        }
        &__btn {
            display: none;
        }
    }
    .promo {
        padding-top: 10px;
        padding-bottom: 50px;
        &__descr {
            font-size: 16px;
        }
        &__title {
            font-size: 36px;
            margin-bottom: 9px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__ellipse::before,
        &__ellipse::after {
            width: 131px;
        }
        &__item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .features {
        padding: 45px 0 40px 0;
        &__item-text {
            margin-left: 12px;
        }
    }
    .title {
        font-size: 16px;
    }
    .works {
        padding: 40px 0 46px 0;
        &__subtitle {
            font-size: 13px;
            margin-bottom: 30px;
        }
        &__item-images {
            width: 100%;
        }
        &__item-descr {
            font-size: 12px;
            line-height: 20px;
        }
    }
    .section {
        padding-left: 10px;
        padding-right: 10px;
        &__block-descr {
            font-size: 12px;
        }
    }
    .delivery {
        padding: 40px 0 62px 0;
        &__subtitle {
            font-size: 14px;
        }
        &__item {
            flex-basis: 75%;
        }
        &__form-button {
            left: 18%;
        }
    }
    .scheme__item {
        flex-basis: 80%;
        &:nth-child(5) {
            margin-bottom: 26px;
        }
        &:last-child {
            margin-top: 26px;
        }
    }
    .reviews{
        padding: 40px 0 53px 0;
        &__subtitle {
            font-size: 12px;
        }
        &__inner-descr {
            font-size: 12px;
        }
    }
    .slick-next {
        right: 16%;
    }
    .slick-prev {
        left: 16%;
    }
    .questions {
        padding: 42px 0 60px 0;
        &__block {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__input {
            width: 280px;
        }
        &__form-textarea {
            width: 280px;
        }
    }
}